<!-- USER SIGN UP FORM -->
<div class="container m-auto text-center">
  <h1>Welcome Back To Heavenly Media</h1>

  <div class="container col-2 m-auto">
    <div class="row">
      <legend>Log In</legend>
    </div>

    <div class="row">
      <label>Username</label>
      <input type="text" name="username" required>
    </div>

    <div class="row">
      <label>Password</label>
      <input type="password" name="password" required>
    </div>
  </div>

  <input type="submit" class="m-3 srch-btn" value="Log In">
</div>
