<legend>New Media</legend>

TYPE OF MEDIA
<input type="radio" name="form-name" value="movie">
<input type="radio" name="form-name" value="tvshow">
<input type="radio" name="form-name" value="ytvid">

IF MOVIE
movie name
<input type="text" name="movie_name">
genre (optional)
<input type="text" name="genre">
year created
<input type="date" name="year_created">
date watched
<input type="date" name="date_watched">
notable actors and directors (optional, may need them to separate with new lines?)
<input type="text" name="acts_dirs">
tags (super optional, for bike)
<input type="text" name="tags">

IF TVSHOW
show Name
<input type="text" name="tvshow_name">
season (optional)
<input type="text" name="season">
episode (optional)
<input type="text" name="episode">
genre (optional)
<input type="text" name="genre">
year created
<input type="date" name="year_created">
date watched
<input type="date" name="date_watched">
notable actors and directors (optional, may need them to separate with new lines?)
<input type="text" name="acts_dirs">
tags (super optional, for bike)
<input type="text" name="tags">

IF YOUTUBE VID
video name
<input type="text" name="video_name">
creator
<input type="text" name="creator">
date uploaded
<input type="date" name="date_uploaded">
date watched
<input type="date" name="date_watched">
tags (super optional, for bike)
<input type="text" name="tags">
