<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">GJHM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="col-4">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>

          {% if 'current_user' in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users_bp.view_user', username=session['current_user']['username']) }}">Profile<span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="/media">All Media</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('media_bp.index_reviews') }}">Reviews</a>
          </li> -->
      </div>



      <!-- <li class="nav-item dropdown" -->
      <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
      </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews">Reviews</a>
      </li>
    </ul> -->
    <!-- ONLY THING I NEED FOR THE NAVBAR!!! -->
    <div class="col-4">
      <form class="form-inline my-2 my-lg-0 mr-5" action="{{ url_for('media_bp.search_media') }}" method="POST">
        <input style="width: 20vw;" class="form-control mr-sm-2" type="search" placeholder="Search Media" aria-label="Search" name="search_query">
        <button class="btn srch-btn my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>


    <div class="col-4 ">
      <ul class="navbar-nav justify-content-end">
        {% if not session['current_user'] %}
        <li>
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% else %}
        <li style="padding: 6px;"><strong> {{ session['current_user']['username'] }} </strong></li>
        <li>
          <form action="/logout" method="POST">
            <button type="submit" class="btn">Logout</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>
