<!-- playlist form -->
<div class="container m-auto text-center">
  <div class="container col-2 m-auto">
    <div class="row">
      <legend>New Playlist</legend>
    </div>

    <div class="row">
      <label for="title"> Title </label>
      <input id="title" type="text" name="title" required>
    </div>

    <div class="row">
      <label for="description"> Description </label>
      <input id="description" type="text" name="description" required>
    </div>
  </div>

  <input type="submit" class="m-3" value="Create Playlist">
</div>
