<!-- playlist info -->
<h5>
  Listed by
  <a href="/users/{{user.username}}">
    {{user.username}}
  </a>
</h5>

<h1>{{ playlist.title }}</h1>
<p>{{ playlist.description }}</p>

{% if media_result %}
  {% for media in media_result %}
    <div class="container card">
      <div class="row p-3">
        <div class="col-3 p-3">
          <img style="height: 200px;" class="m-auto" src="https://www.themoviedb.org/t/p/w1280/{{media.poster_path}}" alt="movie poster">
        </div>

        <div class="col-9">
          <h3>{{ media.title }}</h3>
          <p>{{ media.overview[:150] }}</p>
          <p>{{ media.release_date }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="container card">
    <div class="row p-3">
      <p>New media in playlist yet. Go add some!</p>
    </div>
  </div>
{% endif %}
