<!-- USER SIGN UP FORM -->
<div class="container m-auto text-center">
  <div class="container m-auto">
    <div class="row">
      <legend>New Review</legend>
    </div>

    <div class="form-group row">
      <label for="title" class ="col-form-label">Title</label><br>
      <input id="title" type="text" name="title" required class="form-control col-3 mx-4">
    </div>

    <div class="row form-group">
      <label for="rating" class ="col-form-label">Rating</label><br>
      <input id="rating" type="number" name="rating" min="0" max="10" required class="form-controlcol-sm-10 mx-2">
    </div>

    <div class="row form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" cols="80" rows="5" required class="form-control"></textarea>
    </div>
  </div>

  <input type="submit" class="m-3" value="Create Review">
</div>
