<!-- USER SIGN UP FORM -->
<div class="container m-auto text-center">
  <h1>Welcome To Heavenly Media</h1>

  <div class="container col-2 m-auto">
    <div class="row">
      <legend>Sign Up</legend>
    </div>

    <div class="row">
      <label for="username"> Username </label>
      <input id="username" type="text" name="username" required>
    </div>

    <div class="row">
      <label for="full_name">Full Name </label>
      <input id="full_name"  type="text" name="full_name" required>
    </div>

    <div class="row">
      <label for="email">email </label>
      <input id="email"  type="email" name="email" required>
    </div>

    <div class="row">
      <label for="bio">Bio </label>
      <input id="bio"  type="text" name="bio" required>
    </div>

    <div class="row">
      <label for="password"> Password </label>
      <input id="password" type="password" name="password" required>
    </div>
  </div>

  <input type="submit" class="m-3 srch-btn" value="Sign Up">
</div>
