<!-- USER SIGN UP FORM -->
<div class="container m-auto text-center">
    <h1 >Welcome To Heavenly Media</h1>

    <div class="container col-2 m-auto">
        <div class="row">
            <legend>Sign Up</legend>
        </div>
        
        <div class="row">
            <label>First Name </label>
            <input type="text" name="first_name">
        </div>
    
        <div class="row">
            <label>Last Name </label>
            <input type="text" name="last_name">
        </div>
        
        <div class="row">
            <label> Email </label>
            <input type="email" name="email">
        </div>
        
        <div class="row">
            <label> Password </label>
            <input type="password" name="password">
        </div>
    </div>
    
    
    <input type="submit" class="m-3">
</div>
