<style>
    .container{
        position: center;
        width: 675px;
        height: 375px;
        background: #52796F;
        border-radius: 80px;
        color: white;
        font-family: Roboto;
        font-size: 18px;
        line-height: 42px;
        float: center;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: grid;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .row{
        position: center;
        width: 600px;
        height: 48px;
        background: #CAD2C5;
        border-radius: 80px;
        float: center;
        margin: center;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        margin-bottom: 1rem;
    }

    .top-text{
        position: center;
        width: 600px;
        height: 48px;
        border-radius: 80px;
        float: center;
        margin: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
    }

    h1{
        float: center;
        width: 600px;
        height: 48px;
        margin: auto;
        border-radius: 80px;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
    }

    .m-3{
        float: center;
        margin: auto;
        position: center;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        border-radius: 80px;
    }

</style>

<!-- USER SIGN UP FORM -->
<div class="container m-auto text-center">
    <h1>Welcome To Heavenly Media</h1>

    <div class="col-1 m-auto">
        <div class="top-text">
            <legend>Sign Up</legend>
        </div>
        
        <div class="row">
            <label> Username </label>
            <input type="text" name="username">
        </div>
    
        <div class="row">
            <label>Full Name </label>
            <input type="text" name="full_name">
        </div>
        
        <div class="row">
            <label> Email </label>
            <input type="email" name="email">
        </div>
        
        <div class="row">
            <label> Password </label>
            <input type="password" name="password">
        </div>
    </div>
    
    
    <input type="submit" class="m-3">
</div>

