body{
    background-color: rgba(47, 62, 70, 1);
    color: rgba(202, 210, 197, 1);
}


nav {
    background-color:rgba(202, 210, 197, 1);
    color: rgba(82, 121, 111, 1);
}
.nav-link {
    color: rgba(82, 121, 111, 1);
}

.nav-link:hover {
    background-color: rgba(82, 121, 111, 1);
    color: rgba(202, 210, 197, 1);
    border-radius: 20px;
}

.srch-btn {
    color: rgba(82, 121, 111, 1);
}

.srch-btn:hover {
    background-color: rgba(82, 121, 111, 1);
    color: rgba(202, 210, 197, 1);
}

.card {
    background-color: rgba(47, 62, 70, 1);
    color: rgba(202, 210, 197, 1);
    border-left: none;
    border-right: none;
    border-color: rgba(64, 84, 95, 1);
}
