{% extends 'partials/base.html' %}


{% block title %} Homepage {% endblock %}

{% block content %}
<!-- carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner">
      <div class="carousel-item active" style="height:50vh">
        <img class="card-img" src="https://wallpapermemory.com/uploads/275/gangster-squad-wallpaper-hd-1200x720-321254.jpg" alt="First slide">
        <div class="card-img-overlay text-center text-light">
          <h5 class="card-title">Home Page</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
      </div>

      <div class="carousel-item  align-middle" style="height:50vh">
        <img class="card-img" src="https://wallpapercave.com/wp/wp2094040.jpg" alt="Second slide">
        <div class="card-img-overlay text-center text-light">
          <h5 class="card-title">Home Page</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
      </div>

      <div class="carousel-item" style="height:50vh">
        <img class="card-img" src="https://imgix.ranker.com/list_img_v2/13703/2653703/original/famous-movie-scenes-ripped-off-from-other-movies" alt="Third slide">
        <div class="card-img-overlay text-center text-light">
          <h5 class="card-title">Home Page</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="/signup" class="srch-btn">Sign Up</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  {% for media_item in media[:3] %}
    <div class="container card mt-3">

      <div class="row p-3">

        <div class="col-3">
          <a href="{{ media_item.id }}">
            <img style="height:200px; width: 100px;" src="https://www.themoviedb.org/t/p/w1280/{{ media_item.poster_path }}" class="img-fluid rounded-start" alt="...">
          </a>
        </div>

        <div class="col-9">
          <h1>{{ media_item.title }}</h1>

          <h3>{{ media_item.release_date }}</h3>

          <p>{{ media_item.overview[:150] }}</p>
        </div>

      </div>
    </div>

{% endfor %}

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

