<!-- shows a single  -->
{% extends 'partials/base.html' %}

{% block title %} {{ media.title }} {% endblock %}

{% block content %}
  <!-- placeholder nav -->

  <!-- card for movie -->
  <div class="container card">
    <div class="row p-3">

      <div class="col-3">
        <img style="height:300px;" src="https://www.themoviedb.org/t/p/w1280/{{ media.poster_path }}" class="img-fluid rounded-start" alt="...">
      </div>

      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <h1>{{media.title}}</h1>
          </div>
          <div class="col-3">
              <h3>{{media.release_date}}</h3>
          </div>
        </div>

        <p>{{media.overview[:150]}}...</p>

        {% if media.get('youtube_key') %}
          <iframe width="560" height="315" src="https://youtube.com/embed/{{ media.youtube_key }}" alt="YouTube Trailer" allowfullscreen></iframe>
        {% endif %}
      </div>
    </div>
  </div>

  {% if 'current_user' in session %}
    <div class="container card">
      <form method="POST">
        {% include 'partials/review_form.html' %}
      </form>
    </div>
    {% else %}
    <p>sign up to leave a review</p>
  {% endif %}

  <!-- card for review -->
  {% for review in reviews %}
    <div class="container card">
      <div class="row p-3">
        {% set user = users.find_one({'_id': review.user_id}) %}
        <!-- user's profile picture -->
        <div class="col-3">
          <img style="width: 100px;" class="m-auto" src="{{ url_for('static', filename='images/default_profile.png')}}" alt="user profile picture">
          <p>{{ user.username }}</p>
        </div>

        <div class="col-3">
          <h3>{{ review.title }}</h3>

          <p>Rating: {{ review.rating }}</p>
          <p>{{ review.description }}</p>
          <p class="card-text"><small class="text-muted"> {{ review.created_on }}</small></p>
          <p>0 likes, 0 comments</p>
        </div>

        {% if 'current_user' in session and review.username == session['current_user']['username'] %}
          <div class="col-6">
            <div class="row">
              <form action="" method="" class="ml-auto">
                <button type="submit" class="btn btn-warning ml-auto">Edit</button>
              </form>

              <form action="reviews/{{ review._id }}/delete" method="POST" class="ml-1">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
