{% extends 'partials/base.html' %}

{% block title %} media name {% endblock %}

{% block content %}
  <h1>SHOW SINGLE MEDIA, need mostly for reviews</h1>

  <div>
    <img style="height:200px; width: 100px;" src="https://www.themoviedb.org/t/p/w1280/{{ movie.poster_path }}" class="img-fluid rounded-start" alt="...">
    <h5 class="card-title"><a href="/media/{{ movie.id }}">{{ movie.title }}</a></h5>
    <p class="card-text"><small class="text-muted">{{ movie.release_date }}</small></p>
  </div>
{% endblock %}