{% extends 'partials/base.html' %}

{% block title %} {{ user.username }}'s playlist {% endblock %}

{% block content %}
  <h1 class="text-center">{{ user.username }}'s Playlists</h1>
  {% if session['current_user']['_id'] == user._id %}
    <a href="playlists/new">Create new playlist</a>
  {% endif %}


  <div class="container">
    {% for playlist in playlists %}
      <ul>
        <li>
          <a href="playlists/{{ playlist._id }}">{{ playlist.title }}</a>
          <!-- add thumbnail image -->
        </li>
      </ul>
    {% endfor %}
  </div>

{% endblock %}
