{% extends 'partials/base.html' %}

{% block title %} Search {% endblock %}

{% block content %}

  <div class="container">
    <h2>Showing search results for {{search_query}}</h2>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a style="border-radius: 15px" class="nav-link active" id="pills-worksamples-tab" data-toggle="pill" href="#media" role="tab" aria-controls="pills-worksamples" aria-selected="false">Media</a>
      </li>
      <li class="nav-item">
        <a style="border-radius: 15px" class="nav-link" id="pills-home-tab" data-toggle="pill" href="#users" role="tab" aria-controls="pills-about-me" aria-selected="true">Users</a>
      </li>
      <li class="nav-item">
        <a style="border-radius: 15px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#playlists" role="tab" aria-controls="pills-skills" aria-selected="false">Playlists</a>
      </li>
    </ul>

    <div class="container">
{#      <div class="tab-content" id="pills-tabContent">#}
{#        <div class="tab-pane fade show active" id="pills-about-me" role="tabpanel" aria-labelledby="pills-about-me-tab">#}
{#          <h2 style="margin-top: 15px; margin-bottom: 15px;"> Searching Media by... search query </h2>#}
{#        </div>#}
{##}
{#        <div class="tab-pane fade" id="pills-worksamples" role="tabpanel" aria-labelledby="pills-worksamples-tab">#}
{#          <h2> Searching Users by... search query </h2>#}
{#        </div>#}
{##}
{#        <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">#}
{#          <h2> Searching Playlists by... search query </h2>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
      <div>
        {% for movie in movies %}
          {#    Card for movie    #}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://www.themoviedb.org/t/p/w1280/{{ movie.poster_path }}" class="img-fluid rounded-start" alt="...">
              </div>
              {#     Card Body       #}
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="/media/{{ movie.id }}">{{ movie.title }}</a></h5>
                  <p class="card-text">{{ movie.info }}</p>
                  <p class="card-text"><small class="text-muted">{{ movie.release_date }}</small></p>
                </div>
              </div>
            </div>
          </div>
          {#    End of Card    #}
          {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
