<link href="static/styles.css" rel="stylesheet">

<!-- USER SIGN UP FORM -->
<body>
    <div class="top">
    </div>

    <div class="star">
    </div>

    <div class="frame">
    </div>

{% extends 'partials/base.html' %}
{% block content %}
<div class="container m-auto text-center">
    <h1>Welcome To Heavenly Media</h1>

    <div class="col-1 m-auto">
        <div class="top-text">
            <legend>Sign Up</legend>
        </div>
        {% include 'partials/user_form.html' %}
    </div>
</div>
{% endblock %}