{% extends 'partials/base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
  <h1>USERS</h1>
  {% for user in users %}
  <div class="container card">

    <div class="row p-3">

      <!-- profile picture -->
        <div class="col-3">
            <img  style="width: 100px;height:100px;" class="w-4 rounded-circle m-auto" src="{{ user.avatar_url }}" alt="user profile picture"> 
        </div>

        <!-- user name  -->
        <div class="col-6">
          <a href="{{url_for('users_bp.view_user', username=user.username)}}">{{ user.username }}</a>
        </div>

        <!-- follow button -->
        <div class="col-3">
            <form action="/users/request-friend/{{ user_current.username }}" id="new_invite">
              <!-- need requested user id and current user id -->
              <!-- then submit form to update both user's attributes -->
              <input id="current_user" type="hidden" name="current_user" value="{{ user_current._id }}">
              <input id="requested_user" type="hidden" name="requested_user" value="{{ user._id }}">
              <button type="submit" class="btn" form="new_invite">Follow</button>
            </form>
        </div>
      </div>
  </div>
  {% endfor %}
{% endblock %}
