<!-- USER PROFILE PAGE -->
{% extends 'partials/base.html' %}

{% block title %} {{ user.username }} | Profile {% endblock %}

{% block content %}
  <h1 class="text-center">{{ user.username }}'s Profile</h1>

<!-- user profile card -->
  <div class="container card">

    <div class="row p-3">

      <!-- profile picturre -->
        <div class="col-3">
            <img  style="width: 200px;height:200px;" class="w-4 rounded-circle m-auto" src="{{ user.avatar_url}}" alt="user profile picture"> 
        </div>

        <!-- user information  -->
        <div class="col-9">
            <h1>{{ user.full_name.capitalize() }}</h1><br>
            <!-- <p>user bio</p> <br> -->
            <p>{{ user.email }}</p> <br>
            <p>{{ user.created_on.strftime('%b %Y') }}</p> <br> 
        </div>

        <!-- follow button -->
        <div class="row p-3">
            <!-- follow button -->
          
        </div>

        <!-- todo: user followers and following -->
        <div>
          {% if requested == True %}
            <p class="btn btn-secondary">Requested</p>
          {% elif user.username == user_current.username %}
            <a href="{{ user.username }}/friends">View Friends</a>
            <!-- *TODO* add following page? will have to either find current user id in all users OR
            redo attributes with followers and following instead of friends OR 
            accepting a friend adds friend to both user's lists (so if you accept then you become their friend and they become yours) -->
            <a href="{{ user.username }}/friend-requests">View Requests</a>
          {% elif user_current._id in friends %}
            <p class="btn btn-success">Following</p>
          {% else %}
            {% include 'partials/friend_request_form.html' %}
          {% endif %}
        </div>
    </div>

     <!-- PROFILE NAV -->
    <div class= "container">
      <div class="text-center row profile-nav">
        <a class="nav-item col-6" href="{{ user.username }}/playlists"> LISTS </a>
        <a class="nav-item col-6"> Reviews </a>
      </div>
      <!-- TODO: link to routes -->
  </div>

   <!-- POSTS  CARDS-->
   <!-- todo: for post in posts -->
  <div class="container card">
    <div class="row p-3">

      <!-- user profile pic -->
      <div class="col-3">
        <img  style="width: 100px;height:100px;" class="w-4 rounded-circle m-auto" src="{{ user.avatar_url }}" alt="100x100"> 
      </div>

      <div class="col-6">
        <h2> {{ user.full_name.capitalize() }} </h2>
        <!-- action: watched, review, whatever -->
        <!-- movie: movie selected -->
      </div>

      <div class="col-3">
        <!-- movie poster url  -->
        <img style="height:200px;" src="">
      </div>
    </div>
</div>


{% endblock %}
