body{
    background: #2F3E46;
    position: relative;
    width: 1728px;
    height: 1117px;
}

.container{
    position: absolute;
    width: 675px;
    height: 385px;
    background: #52796F;
    border-radius: 80px;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 42px;
    float: right;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 1rem;
    margin-bottom: 1rem;
    left: 946px;
    top: 319px;
}

.row{
    position: center;
    width: 600px;
    height: 48px;
    background: #CAD2C5;
    border-radius: 80px;
    float: center;
    margin: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

.top-text{
    position: center;
    width: 600px;
    height: 48px;
    border-radius: 80px;
    float: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

h1{
    float: center;
    width: 600px;
    height: 48px;
    margin: auto;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.m-3{
    float: center;
    margin: auto;
    position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 80px;
    width: 160px;
    height: 40px;
    background: #CAD2C5;
    color: white;
}

input{
    background: #CAD2C5;
    width: 600px;
    height: 48px;
    border-radius: 80px;
}

.bottom{
    position: absolute;
    width: 1486px;
    height: 50px;
    left: 135px;
    top: 811px;
    background: #52796F;
    border-radius: 80px;
}

.top{
    position: absolute;
    width: 1728px;
    height: 145px;
    left: 0px;
    top: 0px;
    background: #CAD2C5;
}

.rectangle{
    position: absolute;
    width: 1728px;
    height: 145px;
    left: 0px;
    top: 972px;
    background: #CAD2C5;
}

.star{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 45px;
    top: 31px;
    background: #52796F;
}

.frame{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1541px;
    top: 56px;
    background: #52796F;
    border-radius: 80px;
}